header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;

}

.logo-image {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    width: 100%;
    margin-left: 20px;
}