header{
    background-color: white;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.header_logo {
    background-image: url(https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    height: 100%;
}