.places{
    /* position: relative; */
    display: block;
    margin: 45px auto;
    text-align: center;
}


h1{
    float: left;
    font-size: 30px;
    width: 95%;
    text-align: left;
    display: block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
}
    article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}
article h2{
    font-size: 30px;
    padding: 0px;
    margin: auto;
}
