.places{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 45px auto;
    text-align: center;
}


h1{
    font-size: 30px;
    width: 95%;
    text-align: left;
    display: block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
}

article {
    width: 390px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    display: flex;
    flex: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    border-radius: 4px;
}
article h2{
    font-size: 30px;
    padding: 0px;
    margin: 10px auto;
}
.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    padding: 5px;
    border-radius: 100%;
    float: right;
    line-height: 60px;
}

.information {
    display: block;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 5px;
    padding-bottom: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.max_guest, .number_rooms, .number_bathrooms {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 0px auto;
}

.user {
    margin-top: 5px; 
    margin-bottom: 5px; 
    /* text-align: left; */
}

.description {
    text-align: left;
}

.guest_icon {
    display: inline-block;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.bed_icon {
    display: inline-block;
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.bath_icon {
    display: inline-block;
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.info_container {
	display: flex;
	flex-direction: row;
	position: relative;

	height: 80px;	
	width: 100%;
}
